.Resetpassword {
  display: inherit;
  align-content: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  text-align: center;
  margin: 4rem 0 4rem 0;
}

.error {
  color: red;
}

.Resetpassword > .sub_content {
  line-height: 11px;
  font-size: small;
  margin-bottom: 1rem;
}
